!!! XML
maven2-moduleset
  actions
  description
  keepDependencies false
  != capture(include("common.jade"))
  assignedNode ubuntu
  canRoam false
  disabled false
  blockBuildWhenUpstreamBuilding false
  jdk jdk6
  triggers.vector
    'hudson.triggers.SCMTrigger'
      spec */15 * * * *
  concurrentBuild false
  goals -V -B -fae clean install#{build.maven.goalsArguments}
  defaultGoals install#{build.maven.goalsArguments}
  mavenName #{build.maven.name}
  mavenOpts -Xmx1024m -XX:MaxPermSize=192m
  rootPOM #{build.maven.rootPom}
  aggregatorStyleBuild true
  incrementalBuild false
  usePrivateRepository false
  ignoreUpstremChanges true
  archivingDisabled true
  reporters
  publishers
  buildWrappers
    'hudson.plugins.build__timeout.BuildTimeoutWrapper'
      timeoutMinutes= project.checkin.timeout
      failBuild false
