!!! XML
maven2-moduleset
  actions
  description
  keepDependencies false
  != capture(include("common.jade"))
  assignedNode ubuntu
  canRoam false
  disabled false
  blockBuildWhenUpstreamBuilding false
  jdk= project.jdks.head
  triggers.vector
    'hudson.triggers.SCMTrigger'
      spec */15 * * * *
  concurrentBuild false
  - if ( build.maven.name.startsWith("maven-3") ) 
    goals --settings ${HOME}/.m2/m3-settings.xml -V -B -fae clean install #{build.maven.goalsArguments}
  - else
    goals -V -B -fae clean install #{build.maven.goalsArguments}
  defaultGoals install#{build.maven.goalsArguments}
  mavenName #{build.maven.name}
  mavenOpts #{project.jvmOpts}
  rootPOM #{build.maven.rootPom}
  aggregatorStyleBuild true
  incrementalBuild false
  usePrivateRepository false
  ignoreUpstremChanges true
  archivingDisabled true
  reporters
  publishers
  buildWrappers
    'hudson.plugins.build__timeout.BuildTimeoutWrapper'
      timeoutMinutes= project.checkin.timeout
      failBuild false
