!!! XML
maven2-moduleset
  actions
  description
  keepDependencies false
  != capture(include("common.jade"))
  assignedNode ubuntu
  canRoam false
  disabled false
  blockBuildWhenUpstreamBuilding false
  jdk jdk6
  triggers.vector
    'hudson.triggers.SCMTrigger'
      spec @daily
  concurrentBuild false
  goals -V -B -fae -Dtest=false -DfailIfNoTests=false clean deploy#{build.maven.goalsArguments}
  defaultGoals install#{build.maven.goalsArguments}
  mavenName #{build.maven.name}
  mavenOpts -Xmx860m -XX:MaxPermSize=256m
  rootPOM #{build.maven.rootPom}  
  aggregatorStyleBuild true
  incrementalBuild false
  usePrivateRepository false
  ignoreUpstremChanges true
  archivingDisabled true
  reporters
  publishers
  buildWrappers
    'hudson.plugins.build__timeout.BuildTimeoutWrapper'
      timeoutMinutes= project.deploy.timeout
      failBuild false
