!!! XML
project
  actions
  description
  keepDependencies false
  != capture(include("common.jade"))
  assignedNode deploy-box
  canRoam false
  blockBuildWhenUpstreamBuilding false
  jdk= project.jdks.head
  triggers.vector
    'hudson.triggers.SCMTrigger'
      spec @daily
  concurrentBuild false
  buildWrappers
    'hudson.plugins.build__timeout.BuildTimeoutWrapper'
      timeoutMinutes= project.deploy.timeout
      failBuild false
  builders
    'hudson.tasks.Maven'
      - if ( build.maven.name.startsWith("maven-3") ) 
        targets --settings ${HOME}/.m2/m3-settings.xml -Ddeploy.altRepository=fusesource-nexus-snapshots::default::https://repository.jboss.org/nexus/content/repositories/fs-snapshots -DaltDeploymentRepository=fusesource-nexus-snapshots::default::https://repository.jboss.org/nexus/content/repositories/fs-snapshots -V -B -fae -Dtest=false -DfailIfNoTests=false clean deploy #{build.maven.goalsArguments}
      - else
        targets -Ddeploy.altRepository=fusesource-nexus-snapshots::default::https://repository.jboss.org/nexus/content/repositories/fs-snapshots -DaltDeploymentRepository=fusesource-nexus-snapshots::default::https://repository.jboss.org/nexus/content/repositories/fs-snapshots -V -B -fae -Dtest=false -DfailIfNoTests=false clean deploy #{build.maven.goalsArguments}
      mavenName #{build.maven.name}
      jvmOptions #{project.jvmOpts}
      pom #{build.maven.rootPom}
      usePrivateRepository false
      -# properties>prop1=prop2</properties>
