!!! XML
project
  actions
  description
  keepDependencies false
  != capture(include("common.jade"))
  assignedNode ubuntu
  canRoam false
  blockBuildWhenUpstreamBuilding false
  jdk jdk6
  triggers.vector
    'hudson.triggers.SCMTrigger'
      spec @weekly
  concurrentBuild false
  buildWrappers
    'hudson.plugins.build__timeout.BuildTimeoutWrapper'
      timeoutMinutes= project.checkin.timeout
      failBuild false
  builders
    'hudson.tasks.Maven'
      - if ( build.maven.name.startsWith("maven-3") ) 
        targets --show-version --batch-mode --fail-never clean install #{build.maven.goalsArguments}
      - else
        targets --settings ${HOME}/.m2/m2-settings.xml --show-version --batch-mode --fail-never clean install #{build.maven.goalsArguments}
      mavenName #{build.maven.name}
      jvmOptions #{project.jvmOpts}
      pom #{build.maven.rootPom}
      usePrivateRepository false
      -# properties>prop1=prop2</properties>
    'hudson.tasks.Shell'
      command 
        | export JAVA_HOME=/opt/jdk7
        | export PATH=$JAVA_HOME/bin:$PATH
        | export JAVA_OPTS="-Xmx1G -XX:MaxPermSize=256m"
        | export MAVEN_OPTS="-Xmx800m -XX:MaxPermSize=192m -Dmaven.artifact.threads=5"
        - if ( build.maven.name.startsWith("maven-3") )
          | ${HUDSON_HOME}/tools/maven-3.0.2/bin/mvn -f #{build.maven.rootPom} --settings ${HOME}/.m2/m3-settings.xml -V -B -fae install   
        - else
          | ${HUDSON_HOME}/tools/maven-2.2.1/bin/mvn -f #{build.maven.rootPom} -V -B -fae install   

    
