!!! XML
matrix-project
  actions
  description Runs all the unit test for the #{project.name} project's ${TAG} tag.
  keepDependencies false
  != capture(include("common.jade"))
  canRoam true
  blockBuildWhenUpstreamBuilding false
  authToken a83dc6303ed1ddae7405a32f490522a6
  triggers.vector
  concurrentBuild false
  axes
    'hudson.matrix.JDKAxis'
      name jdk
      values
        - for( jdk <- project.jdks ) 
          string= jdk
    'hudson.matrix.LabelAxis'
      name label
      values
        - for( label <- project.labels ) 
          string= label
  builders
    'hudson.tasks.Maven'
      mavenName #{build.maven.name}
      - if ( build.maven.name.startsWith("maven-3") ) 
        targets --settings ${HOME}/.m2/m3-settings.xml -V -B -fae clean install #{build.maven.goalsArguments}
      - else
        targets -V -B -fae clean install #{build.maven.goalsArguments}
      pom #{build.maven.rootPom}
      jvmOptions #{project.jvmOpts}
      usePrivateRepository false
  runSequentially false
  buildWrappers
    'hudson.plugins.build__timeout.BuildTimeoutWrapper'
      timeoutMinutes= project.platform.timeout
      failBuild false
    'matrixtieparent.BuildWrapperMtp'
      labelName master
