!!! XML
matrix-project
  actions
  description
  keepDependencies false
  != capture(include("common.jade"))
  canRoam true
  blockBuildWhenUpstreamBuilding false
  scmCheckoutRetryCount 3
  triggers.vector
    'hudson.triggers.SCMTrigger'
      spec 0 0 * * 6
  concurrentBuild false
  axes
    'hudson.matrix.JDKAxis'
      name jdk
      values
        - for( jdk <- project.jdks ) 
          string= jdk
    'hudson.matrix.LabelAxis'
      name label
      values
        - for( label <- project.labels ) 
          string= label
  builders
    'hudson.tasks.Maven'
      mavenName #{build.maven.name}
      - if ( build.maven.name.startsWith("maven-3") ) 
        targets --show-version --batch-mode --fail-never clean install #{build.maven.goalsArguments}
      - else
        targets --settings ${HOME}/.m2/m2-settings.xml --show-version --batch-mode --fail-never clean install #{build.maven.goalsArguments}
      pom #{build.maven.rootPom}
      jvmOptions #{project.jvmOpts}
      usePrivateRepository false
  runSequentially false
  buildWrappers
    'hudson.plugins.build__timeout.BuildTimeoutWrapper'
      timeoutMinutes= project.platform.timeout
      failBuild false
    'matrixtieparent.BuildWrapperMtp'
      labelName master
